// -- Colors --
$primaryColor: #574747;
$backgroundBlue: #a1dbc3;

// -- Mixin --
@mixin toggleButtonCustomized {
    font-family: Gilroy-Bold !important;
    font-size: 2vh !important;
    width: 100% !important;
    height: 6.25vh !important;
    text-transform: none !important;
    padding-left: 12px !important;
    line-height: 0 !important;
    letter-spacing: 0 !important;
    border-radius: 15px 0 0 15px !important;
    border-color: transparent !important;
    text-decoration: none;
    display: flex;
    align-items: center;
}


