* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Robot-Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Robot-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Robot-Italic";
  src: url("./assets/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: "Robot-Thin";
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

body {
  padding: 0;
  margin: 0;
  background-color: #efece5;
  font-family: -apple-system, BlinkMacSystemFont, "Robot-Bold",
  "Robot-Regular", "Robot-Italic", "Robot-Thin",
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", "Robot", sans-serif;
}
